<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBItAXpf8ORpx-YXr_Op75JCljrwq_Oua4</string>
	<key>GCM_SENDER_ID</key>
	<string>923951104221</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.notes</string>
	<key>PROJECT_ID</key>
	<string>sample-6b425</string>
	<key>STORAGE_BUCKET</key>
	<string>sample-6b425.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:923951104221:ios:b69f3f66e9d8a1a01c9b34</string>
</dict>
</plist>